<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>Settings – Veely</title>
</head>
<body>
<main class="container my-5 flex-fill">
    <h2 class="fw-semibold mb-4">Impostazioni</h2>
    <ul>
        <li><a th:href="@{/settings/employee-roles}">Ruoli Dipendenti</a></li>
        <li><a th:href="@{/settings/projects}">Commesse</a></li>
    </ul>
</main>
<div th:insert="~{fragments/footer :: mainFooter}"></div>
</body>
</html>