<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead('Settings – Veely')}"></head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navbar :: mainNavbar}"></div>
<main class="container my-5 flex-fill">
    <h2 class="fw-semibold mb-4">Impostazioni</h2>
    <ul>
        <li><a th:href="@{/settings/employee-roles}">Ruoli Dipendenti</a></li>
    </ul>
</main>
<div th:insert="~{fragments/footer :: mainFooter}"></div>
</body>
</html>